*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Teko:wght@500;700&display=swap');

body{
    background-image: linear-gradient(to bottom, rgb(179, 84, 166),#4e3c91);
    font-family: 'Abril Fatface'
}
header{
    height: 840px;
}
header .row{
    margin-top: 70px;
    margin-bottom: 70px;
}
header p{
    font-size: 1.5em;
    color: #fff;
}
header h1{
    color: #fff;
}

/*--------Header-------*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none ;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}
nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.247);
}

/*--------First Banner-------*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.bth{
    display: inline-block;
    background: rgb(245, 58, 34);
    color: white;
    padding: 8px 30px;
    margin: 30px 0;   
    border-radius: 20px;
}

/*--------Products-------*/
.small-container{
    max-width: 1080px;
    margin:auto;
    margin-top: 70px;
}
.col-3{
    flex:30%;
    max-width: 250px;
    margin-bottom: 50px;
}
.col-3 img{
    width: 100%;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-4 img{
    width: 100%;
}
.col-4 p{
    font-size: 16px;
}
.col-4:hover{
    transform: translateY(-20px);
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative; 
    line-height: 60px;
}
.title::after{
    content:'';
    background: rgb(255, 255, 255);
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*--------offer-------*/
.offer{
    background: radial-gradient(rgb(185, 127, 240),#3931ac);
    margin-top: 8px;
    padding: 30px 0px;
}
 .offer .row .col-2 p{
    font-size: 1.5m;
 }
/*--------Testimonial-------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    display: inline-block;
    height: 300px;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.158) ;
    border: 1px solid rgb(255, 242, 242);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    text-align: end;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

.brands{
    margin: 100px 100px 150px 80px;
}
.col-5{
    display: flex;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0%);
}

/*--------Footer-------*/
footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
footer p{
    color: #8a8a8a;
}
footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
    cursor: pointer;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 150px;
    filter: grayscale(100%);
}
footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 10px 0;
}
.copy{
    text-align: center;
}

/*--------Responsividade-------*/
.menu-icon{
    width: 25px;
    margin-left: 20px ;
    display: none;
}
/*--------media query do menu-------*/

@media only screen and (max-width: 800px){

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ;
    }
    
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/*--------media query do menu 600px-------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 50%;
    }
}

.col-4:hover{
    background-color: rgba(255, 255, 255, 0.219) ;
}

/*--------Modal-------*/
.modal-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: rgb(69, 24, 78);
    width: 55%;
    height: auto;
    min-width: 300px;
    padding: 40px;
    position: relative;
}
@keyframes modal {
    from{
        opacity: 0;
        transform: translate3d(0, -60px , 0)
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0 , 0)
    }
}

.show .modal{
    animation: modal 0.3s;
}
.button-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: none;
    margin: 5px 12px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
}
.modal-container.show {
    display: flex;
}

.modal-image-container {
    float: left;
    width: 60%;
}

.modal-item-image {
    width: 95%;
}

.modal-item-title {
    margin: 15px 0;
}
#button-add-cart {
    display: block;
    margin: 15px;
    background-color:rgb(255, 57, 57) ;
    padding: 10px;
    border-radius: 10px;
}

.modal-item-title:last-of-type {
    margin-bottom: 0;
}

.modal-item-ingredients {
    list-style: none;
}